
body, html {
	height: 100%;
	width: 100%;
}
body {
	background-image: url("images/back.jpg");
	text-align:center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	color: red;
}
h2 {
	color: pink;
}
h3 {
	color: yellow;
}
h4 {
	color: blue;
}

#div1 {
/*	background-color: gray;*/

  position: absolute;
  left: 120px;
  width: 300px;
  border: 3px solid #73AD21;
	background-color: gold;
  padding: 10px;
	top: 30%;

}

#div2 {
/*	background-color: gold; */
position: absolute;
right: 120px;
width: 300px;
border: 3px solid purple;
background-color: #FF72F0;
padding: 10px;
top: 30%;
}

#div3 {
	position: relative;
 	margin-left: auto;
	margin-right: auto;
	width: 350px;
	border: 3px solid orange;
	background-color: #40FFBC;
	padding: 10px;
	top: 23%


}
#div4 {
/*	background-color: orange; */
	margin: 5%;
	padding: 6px;
	clear: both;
}
