body,html{
  height: 100%;
  width: 100%;
  background-color: #76d7c4;
}


#div1 {
  margin: 10%;
  padding: 10px;
  border: 50px;
  align-content: "center";
}

#div2 {
  margin: 10%;
  padding: 10px;
  border: 50px;
  align-content: "center";
}
