

body, html {
	/*height: 100%; */
	width: 100%;
}
body {
	background-image: url("images/pink111.gif");
	background-repeat: no-repeat;
 	background-size: cover;
	text-align:center;

}
h1 {
	color: red;
}
h2 {
	color: pink;
}
h3 {
	color: yellow;
}
h4 { 
	color: blue;
}

#div1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
	padding: 150px;
}

#div2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
	padding: 150px;
}

#div3 {
  margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 6px;
	align-content: center;
  padding-top: 10%;
	width: ;
	position:
}

#div4 {
  margin-left: auto;
  margin-right: auto;
  display: block;
	padding: 150px;

}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
